<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
     <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@entry.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number , class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
